<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.hellovass.hvteademo">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".MainActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>

    <activity
        android:name=".PeroImageLoaderTestActivity"
        android:label="PeroImageLoader 测试">

    </activity>

    <activity
        android:name=".PeroTagLayoutTestActivity"
        android:label="TagLayout 测试">

    </activity>

    <activity
        android:name=".gridview.PeroNineGridViewTestActivity"
        android:label="NineGridView 测试">

    </activity>

    <activity
        android:name=".PeroDialogTestActivity"
        android:label="PeroDialog 测试">

    </activity>

    <activity
        android:name=".pullrecycler.PeroPullRecyclerTestActivity"
        android:label="PeroPullRecycler 测试">

    </activity>

    <activity
        android:name=".PeroEmptyLayoutTestActivity"
        android:label="PeroEmptyLayout 测试">

    </activity>

    <activity
        android:name="info.hellovass.hv_tea.permissions.PermissionsActivity">

    </activity>

    <activity
        android:name=".SimpleSnackbarTestActivity"
        android:label="SimpleSnackbar 测试">

    </activity>

    <activity
        android:name=".SupportSpringTestActivity"
        android:label="弹簧动画测试">

    </activity>

    <activity
        android:name=".bottom_navigation.PeroBottomBarTestActivity"
        android:label="BottomBar测试">

    </activity>

  </application>

</manifest>
